<!-- <ng-container *ngIf="isLoading">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container> -->
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title h4" id="example-modal-sizes-title-lg">
        <i class="icon-2x text-dark-50 flaticon-user-add mx-2"></i> Usuario : {{ user_selected.name + ' ' + user_selected.surname }}
      </div>
    </div>
    <div
      class="overlay overlay-block cursor-default modal-body"
    >
      <!-- <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container> --> 
      <div class="row">
        <div class="col-12">
            <h5>¿ESTÁS SEGURO QUE DESEAS ELIMINAR EL REGISTRO DEL USUARIO {{ user_selected.name + ' ' + user_selected.surname }}?</h5>
        </div>
      </div>
</div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger btn-elevate mr-2"
        (click)="delete()"
      >
        Eliminar
      </button>
      
      <button
        type="button"
        class="btn btn-light btn-elevate mr-2"
        (click)="modal.dismiss()"
      >
        Cancelar
      </button>

    </div>
  </div>

