<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">
                <i class="icon-2x text-dark-50 flaticon-imac mx-2"></i> CREAR NUEVO PRODUCTO
            </h3>
        </div>
        <div class="card-toolbar"></div>
    </div>
    <div class="card-body">
        <ng-container *ngIf="isLoading$ | async">
            <span class="spinner spinner-primary ml-5"></span>
        </ng-container>
        <div class="form-group row">
            <div class="col-6">
                <div class="form-group">
                    <label>Título del producto: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="title" name="title" />
                    <span class="form-text text-muted">Ingresa el Título del producto.</span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>SKU del producto: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="sku" name="sku" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label>Seleccionar categoria: <span class="text-danger">*</span></label>
                    <select class="form-control" name="categorie" [(ngModel)]="categorie">
                        <option value="">Ninguna</option>
                        <ng-container *ngFor="let item of categories">
                            <option [value]="item._id">{{ item.title }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-3">
                <div class="form-group">
                    <label>Precio: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="price_pesos"
                        name="price_pesos" />
                </div>
            </div>
            <div class="col-4">
                <label class="form-label">Sube la imagen: *</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile"
                        accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)" />
                    <label class="custom-file-label" for="customFile">Elegir archivo</label>
                </div>
            </div>
            <div class="col-5">
                <div class="" *ngIf="imagen_previzualizacion">
                    <img [src]="imagen_previzualizacion" style="width: 150px" alt="" srcset="" />
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <label class="form-label">Resumen del producto: *</label>
                <textarea class="form-control" name="resumen" [(ngModel)]="resumen" placeholder="" rows="4"></textarea>
            </div>
            <div class="col-6">
                <label class="form-label">Descripción: *</label>
                <editor [(ngModel)]="description" [init]="{
            height: 250,
            language: 'es',
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table paste code help wordcount'
            ],
            toolbar:
              'undo redo | formatselect | bold italic backcolor | \
                        alignleft aligncenter alignright alignjustify | \
                        bullist numlist outdent indent | removeformat | help'
          }"></editor>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-6 d-flex align-items-center">
                <div class="form-group">
                    <label>TAGS: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="tag" name="tag" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mx-2" (click)="addTag()">+</button>
                </div>
            </div>
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-head-custom table-vertical-center" id="kt_advance_table_widget_1">
                        <thead>
                            <tr class="text-left">
                                <th>PALABRA</th>
                                <th>ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of tags; let i = index">
                                <td>{{ item }}</td>
                                <td>
                                    <button class="btn btn-danger" (click)="removeTag(i)">
                                        +
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <button class="btn btn-primary" (click)="save()">CREAR PRODUCTO</button>
        </div>
    </div>
</div>