<div class="axil-signin-area">

    <!-- Start Header -->
    <div class="signin-header">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="index.html" class="site-logo"><img src="./assets/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="col-md-6">
                <div class="singin-header-btn">
                    <p>¿Ya tienes una cuenta?</p>
                    <a href="sign-in.html" class="axil-btn btn-bg-secondary sign-up-btn">Iniciar sesión</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--10">
                <h3 class="title">Ofrecemos los mejores productos</h3>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <h3 class="title">¡Soy nuevo aqui!</h3>
                    <p class="b2 mb--55">Ingresa tus datos a continuación para crear tu cuenta</p>
                    <form class="singin-form">
                        <div class="form-group">
                            <label>Nombres</label>
                            <input type="text" [(ngModel)]="name" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input type="text" [(ngModel)]="surname" class="form-control" name="surname">
                        </div>
                        <div class="form-group">
                            <label>Correo</label>
                            <input type="email" [(ngModel)]="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" [(ngModel)]="password" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                            <label>Repetir contraseña</label>
                            <input type="password" [(ngModel)]="repet_password" class="form-control" name="repet_password">
                        </div>
                        <div class="form-group">
                            <button type="submit" (click)="registerUser()" class="axil-btn btn-bg-primary submit-btn">Crear cuenta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>