<div class="axil-signin-area">

    <!-- Start Header -->
    <div class="signin-header">
        <div class="row align-items-center">
            <div class="col-sm-4">
                <a href="index.html" class="site-logo"><img src="./assets/images/logo/logo.png" alt="logo"></a>
            </div>
            <div class="col-sm-8">
                <div class="singin-header-btn">
                    <p>¿Aún no tienes una cuenta?</p>
                    <a href="sign-up.html" class="axil-btn btn-bg-secondary sign-up-btn">Crear cuenta</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="axil-signin-banner bg_image bg_image--9">
                <h3 class="title">Ofrecemos los mejores productos</h3>
            </div>
        </div>
        <div class="col-lg-6 offset-xl-2">
            <div class="axil-signin-form-wrap">
                <div class="axil-signin-form">
                    <h3 class="title">Inicia sesión en Jacob's shop.</h3>
                    <p class="b2 mb--55">Ingresa tus datos a continuación</p>
                    <form class="singin-form">
                        <div class="form-group">
                            <label>Correo</label>
                            <input type="email" [(ngModel)]="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" [(ngModel)]="password" class="form-control" name="password">
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between">
                            <button type="submit" (click)="login()" class="axil-btn btn-bg-primary submit-btn">Aceptar</button>
                            <a href="forgot-password.html" class="forgot-btn">¿Olvidaste tu contraseña?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>