<!-- <ng-container *ngIf="isLoading">
    <div class="progress progress-modal">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </ng-container> -->
<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <i class="icon-2x text-dark-50 flaticon-file-1 mx-2"></i> Crear Categoria
        </div>
    </div>
    <div class="overlay overlay-block cursor-default modal-body">
        <!-- <ng-container *ngIf="isLoading$ | async">
        <div class="overlay-layer bg-transparent">
          <div class="spinner spinner-lg spinner-success"></div>
        </div>
      </ng-container> -->

        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label>Nombre categoria: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="name" name="name" />
                    <span class="form-text text-muted">Ingresa el nombre la categoria.</span>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <label class="form-label">Subir imagen: *</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile"
                                accept=".jpeg, .bmp, .jpg, .png, .gif, .webp" (change)="processFile($event)" />
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <div class="col-12">
                            <div class="" *ngIf="imagen_previzualizacion">
                                <img [src]="imagen_previzualizacion" style="width: 150px" alt="" srcset="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-elevate mr-2" (click)="save()">
                Guardar
            </button>

            <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">
                Cancelar
            </button>
        </div>
    </div>
</div>